{% extends 'base.html.twig' %}
{# ouverture block body #}
{% block body %}
<h1>Création d'un article</h1>
{# Formulaire d'ajout d'articles #}

{# {{ form(formArticle) }} #}

{% form_theme formArticle 'bootstrap_5_layout.html.twig' %}

{{ form(formArticle) }}



{# fermeture block body #}
{% endblock %}
