{% extends 'base.html.twig' %}
{% block body %}
<h1>{{ title }}</h1>
{# On affiche le contenu de la variable 'title' avec le moteur TWIG #}
{% if age > 18 %}
<p>Je vois que tu es majeur cool  !!</p>
{% else %}
<p>Tu es mineur ce blog n'est pas pour toi => Dehors !!</p>
{% endif %}
{% endblock %}